<h1 mat-dialog-title>{{ actionuser }}</h1>

<app-child #child></app-child> 

 <!-- <div mat-dialog-content>
  <form *ngIf="userForm" [formGroup]="userForm">
   

    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="fname" placeholder="First Name" (keydown)="space($event)"/>
      <mat-error *ngIf="f['fname'].touched && f['fname'].invalid">
        <mat-error *ngIf="f['fname'].hasError('required')"
          >First name is required</mat-error
        >
        <mat-error
          *ngIf="
            !f['fname'].hasError('required') &&
            !f['fname'].hasError('minlength') &&
            f['fname'].hasError('pattern')
          "
        >
          First name should be alpha
        </mat-error>
        <mat-error
          *ngIf="
            !f['fname'].hasError('required') && f['fname'].hasError('minlength')
          "
        >
          Min length should be 3
        </mat-error>
        <mat-error
          *ngIf="
            !f['fname'].hasError('required') &&
            !f['fname'].hasError('minlength') &&
            f['fname'].hasError('maxlength')
          "
        >
          Max length could be 150
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="lname" matInput placeholder="Last Name" />
      <mat-error *ngIf="f['lname'].touched && f['lname'].invalid">
        <mat-error *ngIf="f['lname'].hasError('required')"
          >Last name is required</mat-error
        >
        <mat-error
          *ngIf="
            !f['lname'].hasError('required') && f['lname'].hasError('pattern')
          "
        >
          Last name should be alpha
        </mat-error>
      
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input formControlName="username" matInput placeholder="User Name" />
      <mat-error *ngIf="f['username'].touched && f['username'].invalid">
        <mat-error *ngIf="f['username'].hasError('required')"
          >User Name is required</mat-error
        >
        <mat-error
          *ngIf="
            !f['username'].hasError('required') &&
            f['username'].hasError('pattern')
          "
        >
          Accepts only alphabets and numbers
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input
        formControlName="dob"
        matInput
        [matDatepicker]="picker"
        max="{{ today }}"
        min="1970-01-01"
      />
      <mat-error *ngIf="f['dob'].touched && f['dob'].invalid"></mat-error>
      <mat-error *ngIf="f['dob'].hasError('required')"
        >Please provide a valid date of birth</mat-error
      >

      <mat-hint>MM/DD/YYYY </mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter e-mail</mat-label>
      <input formControlName="email" matInput placeholder="e-mail" />
      <mat-error *ngIf="f['email'].touched && f['email'].invalid">
        <mat-error *ngIf="f['email'].hasError('required')"
          >Email is required</mat-error
        >
        <mat-error
          *ngIf="
            !f['email'].hasError('required') && f['email'].hasError('email')
          "
        >
          Invalid Email
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter Password</mat-label>

      <div class="par">
        <div>
          <input
            [type]="changetype ? 'password' : 'text'"
            formControlName="password"
            matInput
            placeholder="Password"
          />
        </div>
        <div>
          <mat-icon class="eye" (click)="eye()">{{ act }}</mat-icon>
        </div>
      </div>
      <mat-error *ngIf="f['password'].touched && f['password'].invalid">
        <mat-error *ngIf="f['password'].hasError('required')"
          >Password is required</mat-error
        >
        <mat-error
          *ngIf="
            !f['password'].hasError('required') &&
            f['password'].hasError('pattern')
          "
        >
          Password must contain atleast 1 capital,1 number and 1 special
          character!
        </mat-error> </mat-error
      ><br />
    </mat-form-field>

    <div formArrayName="phone">
      <ng-container *ngFor="let value of userFormGroups.controls; index as i">
       
        <div>
          <div class="child">
            <select class="butt">
              <option>+91</option>
            </select>
          </div>
          
          <div class="child child1">
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input
                formControlName="{{ i }}"
                matInput
                placeholder="Phone"
                [mask]="'0000000000'"
              />
              <mat-error
                *ngIf="
                  phoneArray.controls[i].touched &&
                  phoneArray.controls[i].invalid
                "
              >
                <mat-error *ngIf="phoneArray.controls[i].hasError('required')"
                  >Phone is required</mat-error
                >
              </mat-error>
              <mat-error
                *ngIf="
                  !phoneArray.controls[i].hasError('required') &&
                  phoneArray.controls[i].hasError('minlength')
                "
              >
                Please provide an indian number
              </mat-error>
              <mat-error
                *ngIf="
                  !phoneArray.controls[i].hasError('required') &&
                  !phoneArray.controls[i].hasError('minlength') &&
                  phoneArray.controls[i].hasError('maxlength')
                "
              >
                Please provide an indian number
              </mat-error>
              <mat-error
                *ngIf="
                  !phoneArray.controls[i].hasError('required') &&
                  !phoneArray.controls[i].hasError('minlength') &&
                  !phoneArray.controls[i].hasError('maxlength') &&
                  phoneArray.controls[i].hasError('pattern')
                "
              >
                Please provide an indian number
              </mat-error>

            
            </mat-form-field>
          </div>

          <div class="child">
            <button
              class="child"
              mat-icon-button
              color="warn"
              disabled="{{ buttonDisabled }}"
            >
              <mat-icon (click)="delphone(i); $event.preventDefault()"
                >delete</mat-icon
              >
            </button>
          </div>
        </div>

       
      </ng-container>
      <button
        style="color: gray; border-radius: 20px; border-width: 0px"
        (click)="addphone()"
        type="button"
      >
        Add Contact
      </button>
    </div>
  </form>
</div> -->
<div mat-dialog-action [align]="'end'">
  <button
    mat-raised-button
    color="primary"
   
    (click)="addUser()"
    [disabled]="!child?.userForm || !child?.userForm?.valid  || child?.visible && !child?.userForm?.dirty"
  >
  
    {{ actionbtn }}
  </button>
  <button
    style="margin-left: 10px"
    mat-raised-button
    color="warn"
    mat-dialog-close
  >
    Cancel
  </button>
</div>



<!-- <app-child></app-child> -->
