mat-form-field{
    width: 100%;
}

.butt
{
    color: gray;
    border-radius: 20px;
    border-width: 0px;
   
   

    
}
.child
{
    display: inline-block;

    
   
}
.eye{
   
    margin-left: 140px;
    display: inline-block;
    
  
  
    
    
}


.child1{
   
    padding-right: 20px;
    padding-bottom: 0;
}

.par{
   display: flex;



}


